<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <meta name="description" content="Bootstrap Admin App + Ruby on Rails">
   <meta name="keywords" content="app, responsive, jquery, bootstrap, dashboard, admin">
   <title>GoalKing | <%= yield(:title) %></title>
   <%= Gon::Base.render_data %>
   <!-- =============== APP STYLES ===============-->
   <%= stylesheet_link_tag 'admin_assets/application', media: 'all', id: "maincss" %>
   <%= yield :vendor_css_area %>

   <%= csrf_meta_tags %>
   <%= csp_meta_tag %>
   <%= action_cable_meta_tag %>

   <!-- Font Awesome from CDN -->
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/all.min.css">
   
   <!-- Simple Line Icons from CDN -->
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-line-icons@2.5.5/css/simple-line-icons.min.css">
   
   <!-- Animate.css from CDN (optional) -->
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@4.1.1/animate.min.css">
   

   <!-- Load jQuery and plugins BEFORE your app JavaScript -->
   
   <script src="https://cdn.jsdelivr.net/npm/moment@2.29.4/moment.min.js"></script>
</head>

<body style="zoom: 1;">
   <div class="wrapper">
      <!-- top navbar-->
      <header class="topnavbar-wrapper">
         <%= render partial: "layouts/admin_partials/topnavbar" %>
      </header>
      <!-- sidebar-->
      <aside class="aside-container">
        <%= render partial: "layouts/admin_partials/sidebar" %>
      </aside>
      <!-- Main section-->
      <section class="section-container">
         <!-- Page content-->
         <div class="content-wrapper">
           <%= render partial: "layouts/admin_partials/flash" %>
            <%= yield %>
         </div>
      </section>
      <!-- Page footer-->
      <footer class="footer-container">
         <%= render partial: "layouts/admin_partials/footer" %>
      </footer>
   </div>

   <!-- =============== APP SCRIPTS ===============-->
  <!-- Load main application FIRST (has jQuery, Bootstrap, Rails) -->
   <div data-turbo-permanent id="importmap-scripts">
      <%= javascript_importmap_tags "admin_assets/application" %>
   </div>

   <%= yield :vendor_js_area %>

   <%= yield :body_area %>

</body>

</html>
